<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunztech.admin.general_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.Main2Activity" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.ListActivity" />
        <activity android:name=".ui.activity.RecyclayerActivity" />
        <activity android:name=".ui.activity.AppsActivity" />
        <activity android:name=".ui.activity.TuoluoActivity" />
        <activity android:name=".ui.activity.VideoActivity" />
        <activity android:name=".ui.activity.ScrollActivity" />
        <activity
            android:name=".ui.activity.RouteActivity"
            android:label="@string/title_activity_route"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>